body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(53, 61, 177);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 145px;
    height: 145px;
}

nav {
    display: flex;
}

nav a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

header nav {
    margin-right: 30px;  
}

header nav a {
    margin-left: 40px;  
}

header .login-dropdown {
    margin-left: 30px;  
}

nav a:hover {
    transform: scale(1.1);
}


.enrollment-form h2 {
    font-size:30px;
    text-align: center;
    padding: 30px;
    margin-bottom:65px;
    background-color:#999;
}

.enrollment-form{
    font-size: 25px;
    
}

form {
    max-width: 900px;
    margin: 50px auto;
    padding: 70px;
    background-color: #99999970;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
   
}

legend {
    font-weight: bold;
    
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 40px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom:45px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #999;
     margin-bottom:45px;
}

input[type="submit"] {
    font-size: 23px;
    width: 25%;
    height: 50px;
    background-color:  rgb(53, 61, 177);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:40px;
    margin-left:350px;
}

input[type="submit"]:hover {
    background-color: #b9a533;
}

input#filed {
    height: 45px;
    width: 25%;
    font-size: 25px;
     border-radius: 10px;
    
}

select{
     margin-bottom:45px;
}

select#CourseYear {
    height: 50px;
    width: 39%;
    font-size: 25px;
}

#CourseYear{
    font-size: 20px;
     border-radius: 10px;
}

select#Course {
    height: 50px;
    width: 38%;
    font-size: 25px;
     border-radius: 10px;
}

select#Section {
    height: 50px;
    width: 35%;
    font-size: 25px;
     border-radius: 10px;
}


input#StudentNum {
    height: 50px;
    margin-bottom: 20px;
    width: 30%;
    font-size: 25px;
    border-radius: 10px;
}

input#LName {
    height: 50px;
    width: 32%;
    font-size: 25px;
     border-radius: 10px;
    
}
input#FName {
    height: 50px;
    width: 32%;
    font-size: 25px;
    border-radius: 10px;
}

 
select#Gender {
    height: 50px;
    width: 38%;
    font-size: 25px;
     border-radius: 10px;
}

 

 

