body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(53, 61, 177);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 145px;
    height: 145px;
}

nav {
    display: flex;
}

nav a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

header nav {
    margin-right: 30px;  
}

header nav a {
    margin-left: 40px;  
}

header .login-dropdown {
    margin-left: 30px;  
}

nav a:hover {
    transform: scale(1.1);
}

.center-image {
    text-align: center;
}

.center-image img {
    display: inline-block;
    max-width: 35%;
    height: auto;
    padding-top: 5%;
    border-radius: 200px;

}
p{
    font-size: 28px;
    padding-right:10%;
     padding-left:10%;
    padding-top:1%;
    text-align: justify;
}
